<%= form_for(@genero) do |f| %>
  <% if @genero.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@genero.errors.count, "error") %> prohibited this genero from being saved:</h2>

      <ul>
      <% @genero.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :codigo %><br>
    <%= f.text_field :codigo %>
  </div>
  <div class="field">
    <%= f.label :descripcion %><br>
    <%= f.text_field :descripcion %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
