<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo:</strong>
  <%= @genero.codigo %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @genero.descripcion %>
</p>

<%= link_to 'Edit', edit_genero_path(@genero) %> |
<%= link_to 'Back', generos_path %>
