<% content_for :actions do %>
  <% if current_user.editor? %>
    <li>
      <%= link_to plantacion_path(@plantacion), id: "nav-view-plantacion" do %>
        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Ver Plantación
      <% end %>
    </li>
    <li>
      <%= link_to edit_plantacion_validacion_path(@plantacion, @validacion), id: "nav-edit-validacion" do %>
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Editar Validación
      <% end %>
    </li>
    <li>
      <%= link_to plantacion_validacion_path(@plantacion, @validacion), id: "nav-delete-validacion", method: :delete,
        data: { confirm: '¿Está seguro que desea eliminar la Validación?' } do %>
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Eliminar Validación
      <% end %>
    </li>
  <% end %>
<% end %>

<div class="row">
  <div class="col-md-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Validación</h3>
      </div>
      <div class="panel-body">
        <dl class="dl-horizontal">
          <dt>Plantación:</dt>
          <dd><%= @validacion.plantacion.id if @validacion.plantacion %></dd>
          <dt>Responsable:</dt>
          <dd><%= @validacion.responsable.nombre if @validacion.responsable %></dd>
          <dt>Especie 1:</dt>
          <dd><%= @validacion.especie_1.nombre_cientifico if @validacion.especie_1 %></dd>
          <dt>Especie 2:</dt>
          <dd><%= @validacion.especie_2.nombre_cientifico if @validacion.especie_2 %></dd>
          <dt>Especie 3:</dt>
          <dd><%= @validacion.especie_3.nombre_cientifico if @validacion.especie_3 %></dd>
          <dt>Edad estimada:</dt>
          <dd><%= @validacion.edad_estimada %></dd>
          <dt>Densidad estimada:</dt>
          <dd><%= @validacion.densidad_estimada %></dd>
          <dt>DAP promedio:</dt>
          <dd><%= @validacion.dap_promedio %></dd>
          <dt>Altura media dominante:</dt>
          <dd><%= @validacion.altura_media_dominante %></dd>
          <dt>Número de poda:</dt>
          <dd><%= @validacion.numero_poda %></dd>
          <dt>Número de raleo:</dt>
          <dd><%= @validacion.numero_raleo %></dd>
          <dt>Cantidad de podas:</dt>
          <dd><%= @validacion.cantidad_poda %></dd>
          <dt>Cantidad de raleos:</dt>
          <dd><%= @validacion.cantidad_raleo %></dd>
          <dt>Sistematización:</dt>
          <dd><%= @validacion.sistematizacion.descripcion if @validacion.sistematizacion %></dd>
          <dt>Distancia entre filas:</dt>
          <dd><%= @validacion.distancia_filas %></dd>
          <dt>Distancia entre plantas:</dt>
          <dd><%= @validacion.distancia_plantas %></dd>
        </dl>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Plantación</h3>
      </div>
      <div class="panel-body">
        <dl class="dl-horizontal">
          <dt>ID Plantación:</dt>
          <dd><%= @plantacion.id %></dd>
          <dt>Titular:</dt>
          <dd><%= @plantacion.titular.nombre if @plantacion.titular %></dd>
          <dt>Superficie:</dt>
          <dd><%= @plantacion.hectareas %></dd>
          <dt>Especie/s:</dt>
          <dd>
            <ul class="list-unstyled">
              <% @plantacion.especies.each do |especie| %>
                <li><%= especie.nombre_cientifico %></li>
              <% end %>
            </ul>
          </dd>
          <dt>Año de Plantación:</dt>
          <dd><%= @plantacion.anio_plantacion %></dd>
          <dt>Tipo de Plantación:</dt>
          <dd><%= @plantacion.tipo_plantacion.descripcion if @plantacion.tipo_plantacion %></dd>
          <dt>Nomenclatura Catastral:</dt>
          <dd><%= @plantacion.nomenclatura_catastral %></dd>
          <dt>Estado de Plantación:</dt>
          <dd><%= @plantacion.estado_plantacion.descripcion if @plantacion.estado_plantacion %></dd>
          <dt>Distancia entre Plantas:</dt>
          <dd><%= @plantacion.distancia_plantas %></dd>
          <dt>Cantidad de Filas:</dt>
          <dd><%= @plantacion.cantidad_filas %></dd>
          <dt>Distancia entre Filas:</dt>
          <dd><%= @plantacion.distancia_filas %></dd>
          <dt>Densidad:</dt>
          <dd><%= @plantacion.densidad %></dd>
          <dt>Fuente de Información:</dt>
          <dd><%= @plantacion.fuente_informacion.descripcion if @plantacion.fuente_informacion %></dd>
          <dt>Año de Información:</dt>
          <dd><%= @plantacion.anio_informacion %></dd>
          <dt>Fuente de Imagen:</dt>
          <dd><%= @plantacion.fuente_imagen.descripcion if @plantacion.fuente_imagen %></dd>
          <dt>Fecha de Imagen:</dt>
          <dd><%= l @plantacion.fecha_imagen if @plantacion.fecha_imagen %></dd>
          <dt>Base Geométrica:</dt>
          <dd><%= @plantacion.base_geometrica.descripcion if @plantacion.base_geometrica %></dd>
          <dt>Provincia:</dt>
          <dd><%= @plantacion.provincia.nombre if @plantacion.provincia %></dd>
          <dt>Departamento:</dt>
          <dd><%= @plantacion.departamento.nombre if @plantacion.departamento %></dd>
          <dt>Estrato de Desarrollo:</dt>
          <dd><%= @plantacion.estrato_desarrollo.descripcion if @plantacion.estrato_desarrollo %></dd>
          <dt>Uso Forestal:</dt>
          <dd><%= @plantacion.uso_forestal.descripcion if @plantacion.uso_forestal %></dd>
          <dt>Uso Anterior:</dt>
          <dd><%= @plantacion.uso_anterior.descripcion if @plantacion.uso_anterior %></dd>
          <dt>Objetivo de Plantación:</dt>
          <dd><%= @plantacion.objetivo_plantacion.descripcion if @plantacion.objetivo_plantacion %></dd>
          <dt>Comentarios:</dt>
          <dd><%= @plantacion.comentarios %></dd>
        </dl>
      </div>
      <div class="panel-footer">
        <%= render partial: 'common/boolean_label', locals: {value: @plantacion.activo, true_label: "Activo", false_label: "Inactivo"} %>
      </div>
    </div>
  </div>
</div>
