<table id="expedientes" class="table table-hover table-grid">
  <thead>
    <tr>
      <th>ID</th>
      <th nowrap>Número interno</th>
      <th nowrap>Número expediente</th>
      <th>Titular</th>
      <th>Última Entrada</th>
      <th>Última Salida</th>
      <th>Técnico</th>
      <th class="icon">Activo</th>
    </tr>
  </thead>
  <tbody>
    <% @expedientes.each do |expediente| %>
      <tr data-link="<%= expediente_path(expediente) %>">
        <td><%= link_to expediente.id, expediente %></td>
        <td nowrap><%= expediente.numero_interno %></td>
        <td nowrap><%= expediente.numero_expediente %></td>
        <td>
          <abbr title="<%= expediente.titulares.map{ |e| e.nombre }.join(' - ') %>" data-length="20"></abbr>
        </td>
        <td><%= l expediente.ultima_entrada if expediente.ultima_entrada %></td>
        <td><%= l expediente.ultima_salida if expediente.ultima_salida %></td>
        <td><%= expediente.tecnico.nombre if expediente.tecnico %></td>
        <td class="icon">
          <%= render partial: 'common/boolean_value', locals: {value: expediente.activo} %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% if @expedientes.num_pages > 1 %>
  <div class="well well-sm clearfix">
    <div class="pagination-info pull-left">
      <%= page_entries_info @expedientes %>
    </div>
    <%= paginate @expedientes %>
  </div>
<% end %>