<%= bootstrap_form_for @expediente, url: expediente_path(@expediente), method: "put", layout: :horizontal, label_col: "col-sm-3", control_col: "col-sm-9" do |f| %>
  <% if @expediente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@expediente.errors.count, "error") %> ha evitado que los cambios sean guardados:</h2>
      <ul>
      <% @expediente.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.text_field :numero_interno, label: "Número interno" %>
  <%= f.text_field :numero_expediente, label: "Número expediente" %>
  <%= f.text_field :tecnico, label: "Técnico" %>
  <div class="form-group">
    <div class="col-sm-9 col-sm-offset-3">
      <%= f.check_box :plurianual, label: "" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-9 col-sm-offset-3">
      <%= f.check_box :agrupado, label: "" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-9 col-sm-offset-3">
      <%= f.check_box :activo, label: "" %>
    </div>
  </div>
  <h4>Titulares</h4>
  <%= f.collection_select :titular_ids, @expediente.titulares, :id, :nombre, label: "Titular/es"%>
  <hr/>
  <%= link_to "Cancelar", :back, class: "btn btn-default" %>
  <%= f.submit "Guardar", class: "btn btn-primary pull-right" %>
<% end %>