<%= javascript_include_tag params[:controller] %>

<div class="row">
  <div class="col-md-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Buscador</h3>
      </div>
      <div class="panel-body">
        <%= render partial: 'search_form', locals: {expediente: @expediente} %>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <table class="table table-hover table-grid">
      <thead>
        <tr>
          <th nowrap>Número interno</th>
          <th nowrap>Número expediente</th>
          <th>Titular</th>
          <th class="icon">Plurianual</th>
          <th class="icon">Agregado</th>
          <th class="icon">Activo</th>
        </tr>
      </thead>
      <tbody>
        <% @expedientes.each do |expediente| %>
          <tr data-link="<%= expediente_path(expediente) %>">
            <td nowrap><%= expediente.numero_interno %></td>
            <td nowrap><%= expediente.numero_expediente %></td>
            <td><%= expediente.titular %></td>
            <td class="icon">
              <% if expediente.plurianual %>
                <span class="glyphicon glyphicon-ok"></span>
              <% end %>
            </td>
            <td class="icon">
              <% if expediente.agregado %>
                <span class="glyphicon glyphicon-ok"></span>
              <% end %>
            </td>
            <td class="icon">
              <% if expediente.activo %>
                <span class="glyphicon glyphicon-ok"></span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="well well-sm clearfix">
      <div class="pagination-info pull-left">
        <%= page_entries_info @expedientes %>
      </div>
      <%= paginate @expedientes %>
    </div>
  </div>
</div>