<div class="row">
  <div class="col-md-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Buscador</h3>
      </div>
      <div class="panel-body">
        <%= bootstrap_form_for @expediente, url: expedientes_path, method: "get", layout: :horizontal, label_col: "col-sm-5", control_col: "col-sm-7" do |f| %>
          <%= f.text_field :numero_interno, label: "Número interno" %>
          <%= f.form_group :incompleto, label: { text: "Incompletos" } do %>
            <%= f.radio_button :incompleto, "", label: "Todos", inline: true %>
            <%= f.radio_button :incompleto, true, label: "Sí", inline: true %>
            <%= f.radio_button :incompleto, false, label: "No", inline: true %>
          <% end %>
          <%= f.form_group :plurianual, label: { text: "Plurianual" } do %>
            <%= f.radio_button :plurianual, "", label: "Todos", inline: true %>
            <%= f.radio_button :plurianual, true, label: "Sí", inline: true %>
            <%= f.radio_button :plurianual, false, label: "No", inline: true %>
          <% end %>
          <%= f.form_group :agregado, label: { text: "Agregado" } do %>
            <%= f.radio_button :agregado, "", label: "Todos", inline: true %>
            <%= f.radio_button :agregado, true, label: "Sí", inline: true %>
            <%= f.radio_button :agregado, false, label: "No", inline: true %>
          <% end %>
          <%= f.form_group :activo, label: { text: "Activo" } do %>
            <%= f.radio_button :activo, "", label: "Todos", inline: true %>
            <%= f.radio_button :activo, true, label: "Sí", inline: true %>
            <%= f.radio_button :activo, false, label: "No", inline: true %>
          <% end %>
          <%= f.submit "Buscar", class: "btn btn-default pull-right" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <table class="table table-hover table-grid">
      <thead>
        <tr>
          <th nowrap>Número interno</th>
          <th nowrap>Número expediente</th>
          <th>Titular</th>
          <th class="icon">Plurianual</th>
          <th class="icon">Agregado</th>
          <th class="icon">Activo</th>
        </tr>
      </thead>
      <tbody>
        <% @expedientes.each do |expediente| %>
          <tr data-link="<%= expediente_path(expediente) %>">
            <td nowrap><%= expediente.numero_interno %></td>
            <td nowrap><%= expediente.numero_expediente %></td>
            <td><%= expediente.titular %></td>
            <td class="icon">
              <% if expediente.plurianual %>
                <span class="glyphicon glyphicon-ok"></span>
              <% end %>
            </td>
            <td class="icon">
              <% if expediente.agregado %>
                <span class="glyphicon glyphicon-ok"></span>
              <% end %>
            </td>
            <td class="icon">
              <% if expediente.activo %>
                <span class="glyphicon glyphicon-ok"></span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @expedientes %>
  </div>
</div>