<div class="row">
  <div class="col-md-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Buscador</h3>
      </div>
      <div class="panel-body">
        <%= bootstrap_form_tag url: expedientes_path, method: "get" do |f| %>
          <%= f.text_field :numero_interno, label: "Número interno", placeholder: "XX-XX-XXX/XX-XX" %>
          <%= f.submit "Buscar", class: "btn btn-default pull-right" %>
        <% end %>
      </div>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Estadísticas</h3>
      </div>
      <ul class="list-group">
        <li class="list-group-item">
          <h4><span class="label label-info pull-right"><%= Expediente.count %></span></h4>
          Cantidad de expedientes
        </li>
        <li class="list-group-item">
          <h4><span class="label label-info pull-right"><%= Movimiento.count %></span></h4>
          Cantidad de movimientos
        </li>
        <li class="list-group-item">
          <h4><span class="label label-info pull-right"><%= Actividad.count %></span></h4>
          Cantidad de actividades
        </li>
      </ul>      
    </div>
  </div>
  <div class="col-md-9">
    <table class="table table-hover table-grid">
      <thead>
        <tr>
          <th nowrap>Número interno</th>
          <th nowrap>Número expediente</th>
          <th>Titular</th>
          <th class="icon">Plurianual</th>
          <th class="icon">Agregado</th>
          <th class="icon">Activo</th>
        </tr>
      </thead>
      <tbody>
        <% @expedientes.each do |expediente| %>
          <tr data-link="<%= expediente_path(expediente) %>">
            <td nowrap><%= expediente.numero_interno %></td>
            <td nowrap><%= expediente.numero_expediente %></td>
            <td><%= expediente.titular %></td>
            <td class="icon">
              <% if expediente.plurianual %>
                <span class="glyphicon glyphicon-ok"></span>
              <% end %>
            </td>
            <td class="icon">
              <% if expediente.agregado %>
                <span class="glyphicon glyphicon-ok"></span>
              <% end %>
            </td>
            <td class="icon">
              <% if expediente.activo %>
                <span class="glyphicon glyphicon-ok"></span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @expedientes %>
  </div>
</div>