<% content_for :actions do %>
  <% if current_user.editor? %>
    <li>
      <%= link_to edit_expediente_path, id: 'nav_edit_expediente' do %>
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Editar Expediente
      <% end %>
    </li>
    <li>
      <%= link_to new_expediente_movimiento_path(@expediente), id: 'nav_new_movimiento' do %>
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nuevo Movimiento
      <% end %>
    </li>
  <% end %>
  <% if current_user.admin? %>
    <li>
      <%= link_to expediente_path, id: 'nav_delete_expediente', method: :delete, data: { confirm: '¿Está seguro que desea elminar el Expediente?' } do %>
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Eliminar Expediente
      <% end %>
    </li>
  <% end %>
<% end %>

<div class="row">
  <div class="col-md-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Expediente</h3>
      </div>
      <div class="panel-body">
        <dl class="dl-horizontal">
          <dt>ID expediente:</dt>
          <dd><%= @expediente.id %></dd>
          <dt>Número interno:</dt>
          <dd><%= @expediente.numero_interno %></dd>
          <dt>Número expediente:</dt>
          <dd><%= @expediente.numero_expediente %></dd>
          <dt>Titular/es:</dt>
          <dd>
            <ul class="list-unstyled">
              <% @expediente.titulares.each do |titular| %>
                <li><%= link_to titular.nombre, titular %></li>
              <% end %>
            </ul>
          </dd>
          <dt>Técnico:</dt>
          <dd><%= @expediente.tecnico.nombre if @expediente.tecnico %></dd>
          <dt>Zona:</dt>
          <dd><%= @expediente.zona.descripcion if @expediente.zona %></dd>
          <dt>Departamento:</dt>
          <dd><%= @expediente.departamento.descripcion if @expediente.departamento %></dd>
          <dt>Año:</dt>
          <dd><%= @expediente.anio %></dd>
          <dt>Plurianual:</dt>
          <dd>
            <%= render partial: 'common/boolean_value', locals: {value: @expediente.plurianual} %>
          </dd>
          <dt>Agrupado:</dt>
          <dd>
            <%= render partial: 'common/boolean_value', locals: {value: @expediente.agrupado} %>
          </dd>
          <dt>Última Entrada:</dt>
          <dd><%= l @expediente.ultima_entrada if @expediente.ultima_entrada%></dd>
          <dt>Última Salida:</dt>
          <dd><%= l @expediente.ultima_salida if @expediente.ultima_salida %></dd>
        </dl>
      </div>
      <div class="panel-footer">
        <%= render partial: 'common/boolean_label', locals: {value: @expediente.activo, true_label: "Activo", false_label: "Inactivo"} %>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <h4>Movimientos</h4>
    <table class="table table-hover table-grid" id="movimientos">
      <thead>
        <tr>
          <th>ID</th>
          <th>Ficha</th>
          <th>Etapa</th>
          <th>Entrada</th>
          <th>Salida</th>
          <th class="icon">E.Fiscal</th>
          <th class="icon">Validado</th>
          <th class="icon">Auditar</th>
        </tr>
      </thead>
      <tbody>
        <tbody>
          <% @movimientos.each do |movimiento| %>
            <tr data-link="<%= expediente_movimiento_path(@expediente, movimiento) %>">
              <td><%= movimiento.id %></td>
              <td><%= movimiento.numero_ficha %></td>
              <td><%= movimiento.etapa %></td>
              <td><%= l movimiento.fecha_entrada if movimiento.fecha_entrada%></td>
              <td><%= l movimiento.fecha_salida if movimiento.fecha_salida %></td>
              <td class="icon">
                <%= render partial: 'common/boolean_value', locals: {value: movimiento.estabilidad_fiscal} %>
              </td>
              <td class="icon">
                <%= render partial: 'common/boolean_value', locals: {value: movimiento.validado} %>
              </td>
              <td class="icon">
                <%= render partial: 'common/boolean_value', locals: {value: movimiento.auditar} %>
              </td>
            </tr>
          <% end %>
      </tbody>
    </table>
  </div>
</div>