<div class="row">
  <div class="col-md-3">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Expediente</h3>
      </div>
      <div class="panel-body">
        <dl class="dl-horizontal">
          <dt>Número interno:</dt>
          <dd><%= @expediente.numero_interno %></dd>
          <dt>Número expediente:</dt>
          <dd><%= @expediente.numero_expediente %></dd>
          <dt>Titular/es:</dt>
          <dd>
            <ul class="list-unstyled">
              <% @expediente.titulares.each do |titular| %>
                <li><%= titular.nombre %></li>
              <% end %>
            </ul> 
          </dd>
          <dt>Técnico:</dt>
          <dd><%= @expediente.tecnico %></dd>
          <dt>Zona:</dt>
          <dd><%= @expediente.zona.descripcion %></dd>
          <dt>Departamento:</dt>
          <dd><%= @expediente.departamento.descripcion %></dd>
          <dt>Activo:</dt>
          <dd>
            <%= render partial: 'common/boolean_value', locals: {value: @expediente.activo} %>
          </dd>
          <dt>Plurianual:</dt>
          <dd>
            <%= render partial: 'common/boolean_value', locals: {value: @expediente.plurianual} %>
          </dd>
          <dt>Agrupado:</dt>
          <dd>
            <%= render partial: 'common/boolean_value', locals: {value: @expediente.agrupado} %>
          </dd>
          <dt>Fecha Entrada:</dt>
          <dd><%= l @expediente.fecha_entrada if @expediente.fecha_entrada%></dd>
          <dt>Fecha Salida:</dt>
          <dd><%= l @expediente.fecha_salida if @expediente.fecha_salida %></dd>
        </dl>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <h4>Movimientos</h4>
    <table class="table table-hover table-grid">
      <thead>
        <tr>
          <th>Ficha</th>
          <th>Año</th>
          <th>Entrada</th>
          <th>Salida</th>
          <th class="icon"></th>
        </tr>
      </thead>
      <tbody>
        <tbody>
          <% @movimientos.each do |movimiento| %>
            <tr>
              <td><%= movimiento.numero_ficha %></td>
              <td><%= movimiento.anio_inspeccion %></td>
              <td><%= l movimiento.fecha_entrada %></td>
              <td><%= l movimiento.fecha_salida %></td>
              <td class="icon icon-lg">
                <%= link_to expediente_movimiento_path(@expediente, movimiento) do %>
                  <span class="glyphicon glyphicon-share"></span>
                <% end %>
              </td>
            </tr>
          <% end %>
      </tbody>
    </table>
  </div>
</div>