<% content_for :actions do %>
  <% if current_user.editor? %>
    <li>
      <%= link_to edit_expediente_path, id: 'nav-edit-expediente' do %>
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Editar Expediente
      <% end %>
    </li>
    <li>
      <%= link_to new_expediente_movimiento_path(@expediente), id: 'nav-new-movimiento' do %>
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nuevo Movimiento
      <% end %>
    </li>
  <% end %>
  <% if current_user.admin? %>
    <li>
      <%= link_to expediente_path, id: 'nav-delete-expediente', method: :delete, data: { confirm: '¿Está seguro que desea elminar el Expediente?' } do %>
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Eliminar Expediente
      <% end %>
    </li>
  <% end %>
<% end %>

<div class="row">
  <div class="col-md-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Expediente</h3>
      </div>
      <div class="panel-body">
        <dl class="dl-horizontal">
          <dt>ID expediente:</dt>
          <dd><%= @expediente.id %></dd>
          <dt>Número interno:</dt>
          <dd><%= @expediente.numero_interno %></dd>
          <dt>Número expediente:</dt>
          <dd><%= @expediente.numero_expediente %></dd>
          <dt>Titular/es:</dt>
          <dd>
            <ul class="list-unstyled">
              <% @expediente.titulares.each do |titular| %>
                <li><%= link_to titular.nombre, titular %></li>
              <% end %>
            </ul>
          </dd>
          <dt>Técnico:</dt>
          <dd><%= @expediente.tecnico.nombre if @expediente.tecnico %></dd>
          <dt>Zona:</dt>
          <dd><%= @expediente.zona.descripcion if @expediente.zona %></dd>
          <dt>Departamento:</dt>
          <dd><%= @expediente.zona_departamento.descripcion if @expediente.zona_departamento %></dd>
          <dt>Año:</dt>
          <dd><%= @expediente.anio %></dd>
          <dt>Plurianual:</dt>
          <dd>
            <%= render partial: 'common/boolean_value', locals: {value: @expediente.plurianual} %>
          </dd>
          <dt>Agrupado:</dt>
          <dd>
            <%= render partial: 'common/boolean_value', locals: {value: @expediente.agrupado} %>
          </dd>
          <dt>Última Entrada:</dt>
          <dd><%= l @expediente.ultima_entrada if @expediente.ultima_entrada%></dd>
          <dt>Última Salida:</dt>
          <dd><%= l @expediente.ultima_salida if @expediente.ultima_salida %></dd>
        </dl>
      </div>
      <div class="panel-footer">
        <%= render partial: 'common/boolean_label', locals: {value: @expediente.activo, true_label: "Activo", false_label: "Inactivo"} %>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
        <a href="#movimientos-tab" aria-controls="movimientos-tab" role="tab" data-toggle="tab">Movimientos</a>
      </li>
      <% if @expediente.anticipos.count > 0 %>
        <li role="presentation">
          <a href="#anticipos-tab" aria-controls="anticipos-tab" role="tab" data-toggle="tab">Anticipos</a>
        </li>
      <% end %>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="movimientos-tab">
        <%= render partial: 'movimientos/movimientos', locals: {movimientos: @movimientos} %>
      </div>
      <div role="tabpanel" class="tab-pane" id="anticipos-tab">
        <% if @expediente.anticipos.count > 0 %>
          <%= render partial: 'anticipos/anticipos', locals: {anticipos: @expediente.anticipos} %>
        <% end %>
      </div>
    </div>
  </div>
</div>
