<h1>Listing departamentos</h1>

<table>
  <thead>
    <tr>
      <th>Zona</th>
      <th>Codigo</th>
      <th>Descripcion</th>
      <th>Codigo indec</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @departamentos.each do |departamento| %>
      <tr>
        <td><%= departamento.zona_id %></td>
        <td><%= departamento.codigo %></td>
        <td><%= departamento.descripcion %></td>
        <td><%= departamento.codigo_indec %></td>
        <td><%= link_to 'Show', [@zona, departamento] %></td>
        <td><%= link_to 'Edit', edit_zona_departamento_path(@zona, departamento) %></td>
        <td><%= link_to 'Destroy', [@zona, departamento], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Departamento', new_zona_departamento_path(@zona) %>
