<p id="notice"><%= notice %></p>

<p>
  <strong>Zona:</strong>
  <%= @departamento.zona_id %>
</p>

<p>
  <strong>Codigo:</strong>
  <%= @departamento.codigo %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @departamento.descripcion %>
</p>

<p>
  <strong>Codigo indec:</strong>
  <%= @departamento.codigo_indec %>
</p>

<%= link_to 'Edit', edit_departamento_path(@departamento) %> |
<%= link_to 'Back', departamentos_path %>
