<table class="table table-hover table-grid" id="<%= defined?(id) ? id : 'plantaciones' %>">
  <thead>
    <tr>
      <th>ID</th>
      <th>Titular</th>
      <th>Especie</th>
      <th>Tipo</th>
      <th>Superficie</th>
      <th>Activo</th>
      <th class="icon">Mapa</th>
    </tr>
  </thead>
  <tbody>
    <% plantaciones.each do |plantacion| %>
      <tr data-link="<%= plantacion_path(plantacion) %>">
        <td><%= plantacion.id %></td>
        <td><%= link_to plantacion.titular.nombre, plantacion.titular if plantacion.titular %></td>
        <td>
          <abbr title="<%= plantacion.especies.map{ |e| e.nombre_cientifico }.join(' - ') %>" data-length="20"></abbr>
        </td>
        <td><%= plantacion.tipo_plantacion.descripcion if plantacion.tipo_plantacion %></td>
        <td><%= plantacion.hectareas %></td>
        <td class="icon">
          <%= render partial: 'common/boolean_value', locals: {value: plantacion.activo} %>
        </td>
        <td class="icon icon-lg">
          <%= link_to plantacion_map_path(plantacion), target: '_blank', onclick: 'event.stopPropagation()' do %>
            <span class="glyphicon glyphicon-globe"></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
