<% content_for :actions do %>
  <% if current_user.editor? %>
    <li>
      <%= link_to edit_plantacion_path(@plantacion), id: "nav-edit-plantacion" do %>
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Editar Plantación
      <% end %>
    </li>
    <li>
      <%= link_to plantacion_map_path(@plantacion), id: "nav-map-plantacion", target: '_blank' do %>
        <span class="glyphicon glyphicon-globe" aria-hidden="true"></span> Ver Mapa
      <% end %>
    </li>
  <% end %>
  <% if current_user.admin? %>
    <li>
      <%= link_to plantacion_path(@plantacion), id: "nav-delete-plantacion", method: :delete,
        data: { confirm: '¿Está seguro que desea eliminar la Plantación?' } do %>
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Eliminar Plantación
      <% end %>
    </li>
    <li>
      <a href="#" data-toggle="modal" data-target="#plantaciones-modal" id="nav-replace-plantacion">
        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Reemplazar Plantación
      </a>
    </li>
  <% end %>
<% end %>

<div class="row">
  <div class="col-md-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Plantación</h3>
      </div>
      <div class="panel-body">
        <dl class="dl-horizontal">
          <dt>ID Plantación:</dt>
          <dd><%= @plantacion.id %></dd>
          <dt>Titular:</dt>
          <dd><%= @plantacion.titular.nombre if @plantacion.titular %></dd>
          <dt>Superficie:</dt>
          <dd><%= @plantacion.hectareas %></dd>
          <dt>Especie/s:</dt>
          <dd>
            <ul class="list-unstyled">
              <% @plantacion.especies.each do |especie| %>
                <li><%= especie.nombre_cientifico %></li>
              <% end %>
            </ul>
          </dd>
          <dt>Año de Plantación:</dt>
          <dd><%= @plantacion.anio_plantacion %></dd>
          <dt>Tipo de Plantación:</dt>
          <dd><%= @plantacion.tipo_plantacion.descripcion if @plantacion.tipo_plantacion %></dd>
          <dt>Nomenclatura Catastral:</dt>
          <dd><%= @plantacion.nomenclatura_catastral %></dd>
          <dt>Estado de Plantación:</dt>
          <dd><%= @plantacion.estado_plantacion.descripcion if @plantacion.estado_plantacion %></dd>
          <dt>Distancia entre Plantas:</dt>
          <dd><%= @plantacion.distancia_plantas %></dd>
          <dt>Cantidad de Filas:</dt>
          <dd><%= @plantacion.cantidad_filas %></dd>
          <dt>Distancia entre Filas:</dt>
          <dd><%= @plantacion.distancia_filas %></dd>
          <dt>Densidad:</dt>
          <dd><%= @plantacion.densidad %></dd>
          <dt>Fuente de Información:</dt>
          <dd><%= @plantacion.fuente_informacion.descripcion if @plantacion.fuente_informacion %></dd>
          <dt>Fecha de Información:</dt>
          <dd><%= @plantacion.fecha_informacion %></dd>
          <dt>Fuente de Imagen:</dt>
          <dd><%= @plantacion.fuente_imagen.descripcion if @plantacion.fuente_imagen %></dd>
          <dt>Fecha de Imagen:</dt>
          <dd><%= @plantacion.fecha_imagen %></dd>
          <dt>Zona:</dt>
          <dd><%= @plantacion.zona.descripcion if @plantacion.zona %></dd>
          <dt>Departamento:</dt>
          <dd><%= @plantacion.departamento.descripcion if @plantacion.departamento %></dd>
          <dt>Estrato de Desarrollo:</dt>
          <dd><%= @plantacion.estrato_desarrollo.descripcion if @plantacion.estrato_desarrollo %></dd>
          <dt>Uso Forestal:</dt>
          <dd><%= @plantacion.uso_forestal.descripcion if @plantacion.uso_forestal %></dd>
          <dt>Uso Anterior:</dt>
          <dd><%= @plantacion.uso_anterior.descripcion if @plantacion.uso_anterior %></dd>
          <dt>Objetivo de Plantación:</dt>
          <dd><%= @plantacion.objetivo_plantacion.descripcion if @plantacion.objetivo_plantacion %></dd>
          <dt>Comentarios:</dt>
          <dd><%= @plantacion.comentarios %></dd>
        </dl>
      </div>
      <div class="panel-footer">
        <%= render partial: 'common/boolean_label', locals: {value: @plantacion.activo, true_label: "Activo", false_label: "Inactivo"} %>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <% if @plantacion.expedientes.count > 0 %>
      <h4>Expedientes</h4>
      <%= render partial: 'expedientes/expedientes', locals: {expedientes: @expedientes} %>
    <% end %>
    <% if @plantacion.plantaciones_nuevas.count > 0 %>
      <h4>Histórico (Nuevas)</h4>
      <%= render partial: 'plantaciones', locals: {plantaciones: @plantacion.plantaciones_nuevas, id: "plantaciones_nuevas"} %>
    <% end %>
    <% if @plantacion.plantaciones_anteriores.count > 0 %>
      <h4>Histórico (Anteriores)</h4>
      <%= render partial: 'plantaciones', locals: {plantaciones: @plantacion.plantaciones_anteriores, id: "plantaciones_anteriores"} %>
    <% end %>
  </div>
</div>

<div class="modal fade" id="plantaciones-modal" tabindex="-1" role="dialog" aria-labelledby="plantaciones-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
        <h4 class="modal-title" id="plantaciones-modal-label">Nuevas Plantaciones</h4>
      </div>
      <%= bootstrap_form_tag url: plantacion_replace_path(@plantacion), method: :put, layout: :horizontal do |f| %>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <%= f.text_area "plantaciones_nuevas_ids", label: "Plantaciones", rows: "10", required: true %>
              <div class="alert alert-info" role="alert">
                <i class="glyphicon glyphicon-info-sign" aria-hidden="true"></i>Agregue un ID por línea.
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <%= f.submit "Reemplazar", class: "btn btn-primary", id: "plantaciones-modal-replace" %>
        </div>
      <% end %>
    </div>
  </div>
</div>