<h1>Listing zonas</h1>

<table>
  <thead>
    <tr>
      <th>Codigo</th>
      <th>Descripcion</th>
      <th>Srid</th>
      <th>Provincia</th>
      <th>Codigo indec</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @zonas.each do |zona| %>
      <tr>
        <td><%= zona.codigo %></td>
        <td><%= zona.descripcion %></td>
        <td><%= zona.srid %></td>
        <td><%= zona.provincia %></td>
        <td><%= zona.codigo_indec %></td>
        <td><%= link_to 'Show', zona %></td>
        <td><%= link_to 'Edit', edit_zona_path(zona) %></td>
        <td><%= link_to 'Destroy', zona, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Zona', new_zona_path %>
