<table class="table table-hover table-grid" id="titulares">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>DNI</th>
      <th>CUIT</th>
    </tr>
  </thead>
  <tbody>
    <% titulares.each do |titular| %>
      <tr data-link="<%= titular_path(titular) %>">
        <td><%= titular.id %></td>
        <td><%= titular.nombre %></td>
        <td><%= titular.dni %></td>
        <td><%= titular.cuit %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="well well-sm clearfix">
  <div class="pagination-info pull-left">
    <%= page_entries_info titulares %>
  </div>
  <%= paginate titulares %>
</div>