<% content_for :actions do %>
  <li>
    <%= link_to edit_titular_path(@titular) do %>
      <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Editar Titular
    <% end %>
  </li>
  <li>
    <%= link_to titular_path(@titular), method: :delete, data: { confirm: '¿Está seguro que desea eliminar el Titular?' } do %>
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Eliminar Titular
    <% end %>
  </li>
<% end %>

<div class="row">
  <div class="col-md-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Titular</h3>
      </div>
      <div class="panel-body">
        <dl class="dl-horizontal">
          <dt>Nombre:</dt>
          <dd><%= @titular.nombre %></dd>
          <dt>DNI:</dt>
          <dd><%= @titular.dni %></dd>
          <dt>CUIT:</dt>
          <dd><%= @titular.cuit %></dd>
        </dl>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <h4>Expedientes</h4>
    <%= render partial: 'expedientes/expedientes', locals: {expedientes: @expedientes} %>
  </div>
</div>