<%= bootstrap_form_for @tecnico, layout: :horizontal, label_col: "col-sm-3", control_col: "col-sm-9" do |f| %>
  <%= render partial: "common/error_messages", locals: { errors: @tecnico.errors } %>
  <%= f.text_field :nombre, label: "Nombre" %>
  <%= f.text_field :dni, label: "DNI" %>
  <%= f.text_field :cuit, label: "CUIT" %>
  <div class="form-group">
    <div class="col-sm-9 col-sm-offset-3">
      <%= f.check_box :activo, label: "", "data-label" => "Activo" %>
    </div>
  </div>
  <hr/>
  <%= link_to "Cancelar", :back, class: "btn btn-default" %>
  <%= f.submit "Guardar", class: "btn btn-primary pull-right", id: "save-tecnico" %>
<% end %>
