<% content_for :actions do %>
  <li>
    <%= link_to edit_tecnico_path(@tecnico) do %>
      <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Editar Técnico
    <% end %>
  </li>
  <li>
    <%= link_to tecnico_path(@tecnico), method: :delete, data: { confirm: '¿Está seguro que desea eliminar el Técnico?' } do %>
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Eliminar Técnico
    <% end %>
  </li>
<% end %>

<div class="row">
  <div class="col-md-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Titular</h3>
      </div>
      <div class="panel-body">
        <dl class="dl-horizontal">
          <dt>Nombre:</dt>
          <dd><%= @tecnico.nombre %></dd>
          <dt>Activo:</dt>
          <dd>
            <%= render partial: 'common/boolean_value', locals: {value: @tecnico.activo} %>
          </dd>
        </dl>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <h4>Expedientes</h4>
    <%= render partial: 'expedientes/expedientes', locals: {expedientes: @expedientes} %>
  </div>
</div>