<%= bootstrap_form_for [@expediente, @movimiento], layout: :horizontal, label_col: "col-sm-3", control_col: "col-sm-9" do |f| %>
  <%= render partial: "common/error_messages", locals: { errors: @movimiento.errors } %>
  <%= f.text_field :numero_ficha, label: "Número de ficha" %>
  <%= f.collection_select :inspector_id, @inspectores, :id, :descripcion %>
  <%= f.collection_select :reinspector_id, @inspectores, :id, :descripcion %>
  <%= f.select :responsable_id, grouped_options_for_select(@responsables, @movimiento.responsable_id) %>
  <%= f.number_field :anio_inspeccion, label: "Año inspección" %>
  <%= f.collection_select :destino_id, @destinos, :id, :descripcion %>
  <%= f.select :validador_id, grouped_options_for_select(@responsables, @movimiento.validador_id), include_blank: true %>
  <%= f.date_field :fecha_entrada %>
  <%= f.date_field :fecha_salida %>
  <%= f.number_field :etapa %>
  <div class="form-group">
    <div class="col-sm-9 col-sm-offset-3">
      <%= f.check_box :estabilidad_fiscal, label: "", "data-label" => "Estabilidad Fiscal" %>
    </div>
  </div>
  <%= f.text_area :observacion, label: "Observación" %>
  <%= f.text_area :observacion_interna, label: "Observación interna" %>
  <div class="form-group">
    <div class="col-sm-9 col-sm-offset-3">
      <%= f.check_box :auditar, label: "", "data-label" => "Auditar" %>
    </div>
  </div>
  <hr/>
  <%= f.submit "Guardar", class: "btn btn-primary pull-right", id: "save-movimiento" %>
  <%= link_to "Cancelar", :back, class: "btn btn-default", id: "cancel-expediente" %>
<% end %>
