<%= bootstrap_form_for [@expediente, @movimiento], layout: :horizontal, label_col: "col-sm-3", control_col: "col-sm-9" do |f| %>
  <% if @movimiento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movimiento.errors.count, "error") %> ha evitado que los cambios sean guardados:</h2>
      <ul>
      <% @movimiento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.text_field :numero_ficha, label: "Número de ficha" %>
  <%= f.collection_select :inspector_id, Inspector.all, :id, :descripcion %>
  <%= f.collection_select :reinspector_id, Inspector.all, :id, :descripcion %>
  <%= f.collection_select :responsable_id, Responsable.all, :id, :nombre %>
  <%= f.number_field :anio_inspeccion, label: "Año inspección" %>
  <%= f.collection_select :destino_id, Destino.all, :id, :descripcion %>
  <%= f.date_field :fecha_entrada %>
  <%= f.date_field :fecha_salida %>
  <%= f.number_field :etapa %>
  <div class="form-group">
    <div class="col-sm-9 col-sm-offset-3">
      <%= f.check_box :estabilidad_fiscal, label: "" %>
    </div>
  </div>
  <%= f.text_area :observacion, label: "Observación" %>
  <%= f.text_area :observacion_interna, label: "Observación interna" %>
  <div class="form-group">
    <div class="col-sm-9 col-sm-offset-3">
      <%= f.check_box :auditar, label: "" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-9 col-sm-offset-3">
      <%= f.check_box :validado, label: "" %>
    </div>
  </div>
  <hr/>
  <%= f.submit "Guardar", class: "btn btn-primary pull-right", id: "save_movimiento" %>
  <%= link_to "Cancelar", :back, class: "btn btn-default", id: "cancel_expediente" %>
<% end %>