<table class="table table-hover table-grid" id="movimientos">
  <thead>
    <tr>
      <th>ID</th>
      <% if defined?(include_parent_ids) and include_parent_ids %>
        <th>Expediente</th>
      <% end %>
      <th>Ficha</th>
      <th>Etapa</th>
      <th>Entrada</th>
      <th>Salida</th>
      <th class="icon">E.Fiscal</th>
      <th class="icon">Auditar</th>
      <th class="icon">Validado</th>
    </tr>
  </thead>
  <tbody>
    <tbody>
      <% movimientos.each do |movimiento| %>
        <tr data-link="<%= expediente_movimiento_path(movimiento.expediente, movimiento) %>">
          <td><%= movimiento.id %></td>
          <% if defined?(include_parent_ids) and include_parent_ids %>
            <td><%= movimiento.expediente.id %></td>
          <% end %>
          <td><%= movimiento.numero_ficha %></td>
          <td><%= movimiento.etapa %></td>
          <td><%= l movimiento.fecha_entrada if movimiento.fecha_entrada%></td>
          <td><%= l movimiento.fecha_salida if movimiento.fecha_salida %></td>
          <td class="icon">
            <%= render partial: 'common/boolean_value', locals: {value: movimiento.estabilidad_fiscal} %>
          </td>
          <td class="icon">
            <%= render partial: 'common/boolean_value', locals: {value: movimiento.auditar} %>
          </td>
          <td class="icon">
            <%= render partial: 'common/boolean_value', locals: {value: movimiento.validado} %>
          </td>
        </tr>
      <% end %>
  </tbody>
</table>
