<section>
  <h2>Información General</h2>
  <div class="block">
    <div class="row">
      <div class="col-xs-6">
        <p><strong>Expediente: </strong><%= @expediente.numero_expediente %></p>
        <p><strong>Número Interno: </strong><%= @expediente.numero_interno %></p>
      </div>
      <div class="col-xs-6">
        <p><strong>Número de Ficha: </strong><%= @movimiento.numero_ficha %></p>
        <p><strong>ID Movimiento: </strong><%= @movimiento.id %></p>
      </div>
    </div>
  </div>
  <div class="block">
    <div class="row">
      <div class="col-xs-6">
        <p><strong>Zona: </strong><%= @expediente.zona.descripcion if @expediente.zona %></p>
        <p><strong>Departamento: </strong><%= @expediente.zona_departamento.descripcion if @expediente.zona_departamento %></p>
        <p><strong>Titular: </strong><%= @expediente.titulares.map{ |e| e.nombre }.join(' - ') %></p>
      </div>
      <div class="col-xs-6">
        <p><strong>Técnico: </strong><%= @expediente.tecnico.nombre if @expediente.tecnico %></p>
        <p><strong>Fecha: </strong><%= l @movimiento.fecha_salida if @movimiento.fecha_salida %></p>
        <p><strong>Etapa: </strong><%= @movimiento.etapa if @expediente.plurianual %></p>
      </div>
    </div>
  </div>
  <div class="block">
    <div class="row">
      <div class="col-xs-6">
        <p><strong>Inspección: </strong><%= @movimiento.inspector.descripcion if @movimiento.inspector %></p>
        <p><strong>Reinspección: </strong><%= @movimiento.reinspector.descripcion if @movimiento.reinspector %></p>
      </div>
      <div class="col-xs-6">
        <p><strong>Responsable Área SIG: </strong><%= @movimiento.responsable.nombre if @movimiento.responsable %></p>
      </div>
    </div>
  </div>
  <div class="block">
    <div class="row">
      <div class="col-xs-12">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Actividad</th>
              <th>Presentado</th>
              <th>Certificado</th>
              <th>Inspeccionado</th>
              <th>Registrado</th>
            </tr>
          </thead>
          <tbody>
            <% @movimiento.actividades.each do |actividad| %>
              <tr>
                <td><%= actividad.tipo_actividad.descripcion %></td>
                <td><%= actividad.superficie_presentada %></td>
                <td><%= actividad.superficie_certificada %></td>
                <td><%= actividad.superficie_inspeccionada %></td>
                <td><%= actividad.superficie_registrada %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="block">
    <div class="row">
      <div class="col-xs-12">
        <p><strong>Observaciones: </strong><%= @movimiento.observacion %></p>
      </div>
    </div>
  </div>

  <h2>Plantaciones</h2>
  <div class="row">
    <div class="col-xs-12">
      <table class="table table-bordered table-condensed">
        <thead>
          <tr>
            <th>Actividad</th>
            <% if @movimiento.expediente.agrupado %>
              <th>Titular</th>
            <% end %>
            <th>Tipo</th>
            <th>Especie</th>
            <th>Registrado</th>
          </tr>
        </thead>
        <tbody>
          <% @plantaciones.each do |index,value| %>
            <tr>
              <td><%= Actividad.find(index[0]).tipo_actividad.descripcion  unless index[0].nil? %></td>
              <% if @movimiento.expediente.agrupado %>
                <td><%= Titular.find(index[1]).nombre unless index[1].nil? %></td>
              <% end %>
              <td><%= TipoPlantacion.find(index[2]).descripcion unless index[2].nil? %></td>
              <td><%= Especie.find(index[3]).nombre_cientifico unless index[3].nil? %></td>
              <td><%= value %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</section>

<% if @movimiento.expediente.agrupado %>
  <section>
    <h2>Detalle por Titular</h2>
    <div class="row">
      <div class="col-xs-12">
        <table class="table table-bordered table-condensed table-compressed">
          <thead>
            <tr>
              <th>Actividad</th>
              <th>Titular</th>
              <th>Especie</th>
              <th>Tipo</th>
              <th>Pres</th>
              <th>Cert</th>
              <th>Insp</th>
              <th>Observaciones</th>
            </tr>
          </thead>
          <tbody>
            <% @movimiento.actividades.each do |actividad| %>
              <% actividad.actividades_titulares.each do |actividad_titular| %>
                <tr>
                  <td><%= actividad.tipo_actividad.descripcion %></td>
                  <td><%= actividad_titular.titular.nombre if actividad_titular.titular %></td>
                  <td><%= actividad_titular.especie.nombre_cientifico if actividad_titular.especie %></td>
                  <td><%= actividad_titular.tipo_plantacion.descripcion if actividad_titular.tipo_plantacion %></td>
                  <td><%= actividad_titular.superficie_presentada %></td>
                  <td><%= actividad_titular.superficie_certificada %></td>
                  <td><%= actividad_titular.superficie_inspeccionada %></td>
                  <td><%= actividad_titular.observaciones %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </section>
<% end %>
