<div class="row">
  <div class="col-md-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Movimiento</h3>
      </div>
      <div class="panel-body">
        <dl class="dl-horizontal">
          <dt>Número de ficha:</dt>
          <dd><%= @movimiento.numero_ficha %></dd>
          <dt>Año de Inspección:</dt>
          <dd><%= @movimiento.anio_inspeccion %></dd>
          <dt>Fecha de entrada:</dt>
          <dd><%= l @movimiento.fecha_entrada if @movimiento.fecha_entrada %></dd>
          <dt>Fecha de salida:</dt>
          <dd><%= l @movimiento.fecha_salida if @movimiento.fecha_salida %></dd>
          <dt>Auditar:</dt>
          <dd>
            <%= render partial: 'common/boolean_value', locals: {value: @movimiento.auditar} %>
          </dd>
          <dt>Inspector:</dt>
          <dd><%= @movimiento.inspector.descripcion if @movimiento.inspector %></dd>
          <dt>Reinspector:</dt>
          <dd><%= @movimiento.reinspector.descripcion if @movimiento.reinspector %></dd>
          <dt>Responsable:</dt>
          <dd><%= @movimiento.responsable.nombre if @movimiento.responsable %></dd>
          <dt>Destino:</dt>
          <dd><%= @movimiento.destino.descripcion if @movimiento.destino %></dd>
          <dt>Observación:</dt>
          <dd><%= @movimiento.observacion %></dd>
          <dt>Observación interna:</dt>
          <dd><%= @movimiento.observacion_interna %></dd>
        </dl>
      </div>
      <div class="panel-footer">
        <%= render partial: 'common/boolean_label', locals: {value: @movimiento.validado, true_label: "Validado", false_label: "Sin validar"} %>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <h4>Actividades</h4>
    <table class="table table-hover table-grid" id="actividades" data-no-turbolink="true">
      <thead>
        <tr>
          <th>Tipo actividad</th>
          <th>Presentado</th>
          <th>Certificado</th>
          <th>Inspeccionado</th>
          <th>Registrado</th>
          <th class="icon"></th>
        </tr>
      </thead>
      <tbody>
        <% @actividades.each do |actividad| %>
          <tr>
            <td><%= actividad.tipo_actividad.descripcion %></td>
            <td><%= actividad.superficie_presentada %></td>
            <td><%= actividad.superficie_certificada %></td>
            <td><%= actividad.superficie_inspeccionada %></td>
            <td><%= actividad.superficie_registrada %></td>
            <td class="icon icon-lg">
              <%= link_to expediente_movimiento_actividad_path(@movimiento.expediente, @movimiento, actividad) do %>
                  <span class="glyphicon glyphicon-share"></span>
                <% end %>
              <% if actividad.plantaciones.count > 0 %>
                <%= link_to expediente_movimiento_actividad_map_path(@movimiento.expediente, @movimiento, actividad), target: '_blank' do %>
                  <span class="glyphicon glyphicon-globe"></span>
                <% end %>
              <% end %>
            <td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>