<div class="row">
  <div class="col-md-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Movimiento</h3>
      </div>
      <div class="panel-body">
        <dl class="dl-horizontal">
          <dt>ID Expediente:</dt>
          <dd><%= link_to @expediente.id, @expediente %></dd>
          <dt>ID Movimiento:</dt>
          <dd><%= @movimiento.id %></dd>
          <dt>Número de Ficha:</dt>
          <dd><%= @movimiento.numero_ficha %></dd>
          <dt>Año de Inspección:</dt>
          <dd><%= @movimiento.anio_inspeccion %></dd>
          <dt>Fecha de Entrada:</dt>
          <dd><%= l @movimiento.fecha_entrada if @movimiento.fecha_entrada %></dd>
          <dt>Fecha de Salida:</dt>
          <dd><%= l @movimiento.fecha_salida if @movimiento.fecha_salida %></dd>
          <dt>Estabilidad Fiscal:</dt>
          <dd>
            <%= render partial: 'common/boolean_value', locals: {value: @movimiento.estabilidad_fiscal} %>
          </dd>
          <dt>Auditar:</dt>
          <dd>
            <%= render partial: 'common/boolean_value', locals: {value: @movimiento.auditar} %>
          </dd>
          <dt>Inspector:</dt>
          <dd><%= @movimiento.inspector.descripcion if @movimiento.inspector %></dd>
          <dt>Reinspector:</dt>
          <dd><%= @movimiento.reinspector.descripcion if @movimiento.reinspector %></dd>
          <dt>Responsable:</dt>
          <dd><%= @movimiento.responsable.nombre if @movimiento.responsable %></dd>
          <dt>Destino:</dt>
          <dd><%= @movimiento.destino.descripcion if @movimiento.destino %></dd>
          <dt>Observación:</dt>
          <dd><%= @movimiento.observacion %></dd>
          <dt>Observación Interna:</dt>
          <dd><%= @movimiento.observacion_interna %></dd>
        </dl>
      </div>
      <div class="panel-footer">
        <%= render partial: 'common/boolean_label', locals: {value: @movimiento.validado, true_label: "Validado", false_label: "Sin validar"} %>
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Acciones</h3>
      </div>
      <div class="panel-body panel-actions">
        <p>
          <%= link_to edit_expediente_movimiento_path(@expediente, @movimiento), class: "btn btn-info" do %>
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Editar Movimiento
          <% end %>
        </p>
        <p>
          <%= link_to expediente_movimiento_path(@expediente, @movimiento), class: "btn btn-danger", method: :delete, data: { confirm: '¿Está seguro que desea elminar el Movimiento?' } do %>
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Eliminar Movimiento
          <% end %><br/>
        </p>
        <p>
          <%= link_to new_expediente_movimiento_actividad_path(@expediente, @movimiento), class: "btn btn-info" do %>
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nueva Actividad
          <% end %>
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <h4>Actividades</h4>
    <table class="table table-hover table-grid" id="actividades">
      <thead>
        <tr>
          <th>Tipo actividad</th>
          <th>Presentado</th>
          <th>Certificado</th>
          <th>Inspeccionado</th>
          <th>Registrado</th>
          <th class="icon">Mapa</th>
        </tr>
      </thead>
      <tbody>
        <% @actividades.each do |actividad| %>
          <tr data-link="<%= expediente_movimiento_actividad_path(@movimiento.expediente, @movimiento, actividad) %>">
            <td><%= actividad.tipo_actividad.descripcion %></td>
            <td><%= actividad.superficie_presentada %></td>
            <td><%= actividad.superficie_certificada %></td>
            <td><%= actividad.superficie_inspeccionada %></td>
            <td><%= actividad.superficie_registrada %></td>
            <td class="icon icon-lg">
              <% if actividad.plantaciones.count > 0 %>
                <%= link_to expediente_movimiento_actividad_map_path(@movimiento.expediente, @movimiento, actividad), target: '_blank', onclick: 'event.stopPropagation()' do %>
                  <span class="glyphicon glyphicon-globe"></span>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>