<table class="table table-hover table-grid" id="plantaciones">
  <thead>
    <tr>
      <th>ID</th>
      <th>Titular</th>
      <th>Especie</th>
      <th>Tipo</th>
      <th>Superficie Registrada</th>
      <th>Superficie</th>
      <th>Estado</th>
      <th>Observaciones</th>
      <th class="icon hidden-print">Mapa</th>
    </tr>
  </thead>
  <tbody>
    <% actividades_plantaciones.each do |actividad_plantacion| %>
      <tr data-link="<%= plantacion_path(actividad_plantacion.plantacion) %>">
        <td><%= actividad_plantacion.plantacion.id %></td>
        <td><%= link_to actividad_plantacion.plantacion.titular.nombre, actividad_plantacion.plantacion.titular if actividad_plantacion.plantacion.titular %></td>
        <td>
          <abbr title="<%= actividad_plantacion.plantacion.especies.map{ |e| e.nombre_cientifico }.join(' - ') %>" data-length="20"></abbr>
        </td>
        <td><%= actividad_plantacion.plantacion.tipo_plantacion.descripcion if actividad_plantacion.plantacion.tipo_plantacion %></td>
        <td><%= actividad_plantacion.superficie_registrada %></td>
        <td><%= actividad_plantacion.plantacion.hectareas %></td>
        <td><%= actividad_plantacion.estado_aprobacion.descripcion if actividad_plantacion.estado_aprobacion %></td>
        <td>
          <abbr title="<%= actividad_plantacion.observaciones %>" data-length="20"></abbr>
        </td>
        <td class="icon icon-lg hidden-print">
          <%= link_to plantacion_map_path(actividad_plantacion.plantacion), target: '_blank', onclick: 'event.stopPropagation()' do %>
            <span class="glyphicon glyphicon-globe"></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% if actividades_plantaciones.num_pages > 1 %>
  <div class="well well-sm clearfix">
    <div class="pagination-info pull-left">
      <%= page_entries_info actividades_plantaciones %>
    </div>
    <%= paginate actividades_plantaciones, param_name: :plantaciones_page, params: {tab: "plantaciones-tab"} %>
  </div>
<% end %>
