<%= bootstrap_form_for [@expediente, @movimiento, @actividad], layout: :horizontal, label_col: "col-sm-4", control_col: "col-sm-8" do |f| %>
  <% if @actividad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@actividad.errors.count, "error") %> ha evitado que los cambios sean guardados:</h2>
      <ul>
      <% @actividad.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.collection_select :tipo_actividad_id, TipoActividad.all, :id, :descripcion %>
  <%= f.text_field :superficie_presentada, label: "Superficie Presentada" %>
  <%= f.text_field :superficie_certificada, label: "Superficie Certificada" %>
  <%= f.text_field :superficie_inspeccionada, label: "Superficie Inspeccionada" %>
  <%= f.text_field :superficie_registrada, label: "Superficie Registrada" %>
  <hr/>
  <%= f.submit "Guardar", class: "btn btn-primary pull-right" %>
  <%= link_to "Cancelar", :back, class: "btn btn-default" %>
<% end %>