<%= bootstrap_nested_form_for [@expediente, @movimiento, @actividad], layout: :horizontal, label_col: "col-sm-4", control_col: "col-sm-8" do |f| %>
  <% if @actividad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@actividad.errors.count, "error") %> ha evitado que los cambios sean guardados:</h2>
      <ul>
      <% @actividad.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-5">
      <%= f.collection_select :tipo_actividad_id, TipoActividad.all, :id, :descripcion %>
      <%= f.text_field :superficie_presentada, label: "Superficie Presentada" %>
      <%= f.text_field :superficie_certificada, label: "Superficie Certificada" %>
      <%= f.text_field :superficie_inspeccionada, label: "Superficie Inspeccionada" %>
      <%= f.text_field :superficie_registrada, label: "Superficie Registrada" %>
    </div>
  </div>
  <hr/>
  <h3>Plantaciones</h3>
  <div class="row">
    <div class="col-md-12">
      <table id="plantaciones" class="table">
        <thead>
          <tr>
            <th>Plantación ID</th>
            <th>Fecha</th>
            <th>Número de Plantas</th>
            <th>Presentado</th>
            <th>Certificado</th>
            <th>Inspeccionado</th>
            <th>Registrado</th>
            <th>Estado Aprobación</th>
            <th>Comentarios</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <%= f.fields_for :actividades_plantaciones, :wrapper => false, label_col: "col-sm-0", control_col: "col-sm-12" do |apf| %>
            <tr class="fields">
              <td>
                <%= apf.number_field :plantacion_id, hide_label: true %>
              </td>
              <td>
                <%= apf.date_field :fecha, hide_label: true %>
              </td>
              <td>
                <%= apf.number_field :numero_plantas, hide_label: true %>
              </td>
              <td>
                <%= apf.text_field :superficie_presentada, hide_label: true %>
              </td>
              <td>
                <%= apf.text_field :superficie_certificada, hide_label: true %>
              </td>
              <td>
                <%= apf.text_field :superficie_inspeccionada, hide_label: true %>
              </td>
              <td>
                <%= apf.text_field :superficie_registrada, hide_label: true %>
              </td>
              <td>
                <%= apf.collection_select :estado_aprobacion_id, EstadoAprobacion.all, :id, :descripcion, hide_label: true %>
              </td>
              <td>
                <%= apf.text_area :comentarios, hide_label: true %>
              </td>
              <td>
                <%= apf.link_to_remove class: "btn btn-danger btn-sm pull-right" do %>
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= f.link_to_add :actividades_plantaciones, id: "add-plantacion", class: "btn btn-primary btn-sm", data: {target: "#plantaciones"} do %>
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Agregar Plantación
      <% end %>
      <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#plantaciones-modal">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Agregar Lista de Plantaciones
      </button>
    </div>
  </div>
  <hr/>
  <%= f.submit "Guardar", class: "btn btn-primary pull-right" %>
  <%= link_to "Cancelar", :back, class: "btn btn-default" %>
<% end %>

<div class="modal fade" id="plantaciones-modal" tabindex="-1" role="dialog" aria-labelledby="plantaciones-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
        <h4 class="modal-title" id="plantaciones-modal-label">Agregar Plantaciones</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <%= bootstrap_form_tag layout: :horizontal do |f| %>
              <%= f.text_area "plantaciones-ids", label: "Plantaciones", rows: "10" %>
            <% end %>
            <div class="alert alert-info" role="alert">
              <i class="glyphicon glyphicon-info-sign" aria-hidden="true"></i>Agregue un ID por línea.
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button id="add-plantaciones" type="button" class="btn btn-primary">Agregar</button>
      </div>
    </div>
  </div>
</div>