<%= form_for(@actividad) do |f| %>
  <% if @actividad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@actividad.errors.count, "error") %> prohibited this actividad from being saved:</h2>

      <ul>
      <% @actividad.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :movimiento_id %><br>
    <%= f.text_field :movimiento_id %>
  </div>
  <div class="field">
    <%= f.label :tipo_actividad_id %><br>
    <%= f.text_field :tipo_actividad_id %>
  </div>
  <div class="field">
    <%= f.label :superficie_presentada %><br>
    <%= f.text_field :superficie_presentada %>
  </div>
  <div class="field">
    <%= f.label :superficie_certificada %><br>
    <%= f.text_field :superficie_certificada %>
  </div>
  <div class="field">
    <%= f.label :superficie_inspeccionada %><br>
    <%= f.text_field :superficie_inspeccionada %>
  </div>
  <div class="field">
    <%= f.label :superficie_registrada %><br>
    <%= f.text_field :superficie_registrada %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
