<% content_for :head do %>
  <%= javascript_include_tag "http://maps.google.com/maps/api/js?v=3&sensor=false" %>
  <%= javascript_include_tag "http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js" %>
  <%= stylesheet_link_tag "http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" %>
  <%= javascript_include_tag 'Google' %>
  <%= javascript_include_tag 'leaflet.label' %>
<% end %>

<div class="row">
  <div class="col-md-12">
    <div id="map" style="height: 700px;"></div>
  </div>
</div>

<%= javascript_tag do %>
  window.plantaciones = <%= raw @geojson %>
<% end %>