<% content_for :actions do %>
  <% if current_user.editor? %>
    <li>
      <%= link_to edit_expediente_movimiento_actividad_path(@expediente, @movimiento, @actividad), id: 'nav-edit-actividad' do %>
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Editar Actividad
      <% end %>
    </li>
    <li>
      <%= link_to mass_edit_plantaciones_path({actividad_id: @actividad.id}), id: 'nav-edit-plantaciones' do %>
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Editar Plantaciones
      <% end %>
    </li>
    <% end %>
  <% if current_user.admin? %>
    <li>
      <%= link_to expediente_movimiento_actividad_path(@expediente, @movimiento, @actividad), method: :delete,
        data: { confirm: '¿Está seguro que desea eliminar la Actividad?' }, id: 'nav-delete-actividad' do %>
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Eliminar Actividad
      <% end %>
    </li>
  <% end %>
<% end %>

<div class="row">
  <div class="col-md-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Actividad</h3>
      </div>
      <div class="panel-body">
        <dl class="dl-horizontal">
          <dt>ID Movimiento:</dt>
          <dd><%= link_to @movimiento.id, [@expediente, @movimiento] %></dd>
          <dt>ID Actividad:</dt>
          <dd><%= @actividad.id %></dd>
          <dt>Tipo de actividad:</dt>
          <dd><%= @actividad.tipo_actividad.descripcion %></dd>
          <dt>Sup. Presentada:</dt>
          <dd><%= @actividad.superficie_presentada %></dd>
          <dt>Sup. Certificada:</dt>
          <dd><%= @actividad.superficie_certificada %></dd>
          <dt>Sup. Inspeccionada:</dt>
          <dd><%= @actividad.superficie_inspeccionada %></dd>
          <dt>Sup. Registrada:</dt>
          <dd><%= @actividad.superficie_registrada %></dd>
        </dl>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div role="tabpanel">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="<%= 'active' if params[:tab].nil? or params[:tab] == 'plantaciones-tab' %>">
          <a href="#plantaciones-tab" aria-controls="plantaciones-tab" role="tab" data-toggle="tab">Plantaciones</a>
        </li>
        <% if @expediente.agrupado %>
          <li role="presentation" class="<%= 'active' if params[:tab] == 'titulares-tab' %>">
            <a href="#titulares-tab" aria-controls="titulares-tab" role="tab" data-toggle="tab">Detalle de Titulares</a>
          </li>
        <% end %>
        <% if @actividad.pagos.count > 0 %>
          <li role="presentation" class="<%= 'active' if params[:tab] == 'pagos-tab' %>">
            <a href="#pagos-tab" aria-controls="pagos-tab" role="tab" data-toggle="tab">Pagos</a>
          </li>
        <% end %>
      </ul>
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane <%= 'active' if params[:tab].nil? or params[:tab] == 'plantaciones-tab' %>" id="plantaciones-tab">
          <%= render partial: 'actividades/actividades_plantaciones', locals: { actividades_plantaciones: @actividades_plantaciones } %>
        </div>
        <div role="tabpanel" class="tab-pane <%= 'active' if params[:tab] == 'titulares-tab' %>" id="titulares-tab">
          <% if @expediente.agrupado %>
            <%= render partial: 'actividades/actividades_titulares', locals: { actividades_titulares: @actividades_titulares } %>
          <% end %>
        </div>
        <div role="tabpanel" class="tab-pane <%= 'active' if params[:tab] == 'pagos-tab' %>" id="pagos-tab">
          <% if @actividad.pagos.count > 0 %>
            <% if @expediente.agrupado %>
              <%= render partial: 'pagos/pagos', locals: { pagos: @pagos, include_titulares: true } %>
            <% else %>
              <%= render partial: 'pagos/pagos', locals: { pagos: @pagos, include_titulares: false } %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
