<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @provincia.nombre %>
</p>

<%= link_to 'Edit', edit_provincia_path(@provincia) %> |
<%= link_to 'Back', provincias_path %> |
<%= link_to 'Departamentos', provincia_departamentos_path(@provincia) %>
