<!DOCTYPE html>
<html>
<head>
  <title>ForestApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Ver navegador</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">ForestApp</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">              
        </ul >
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Usuario <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Editar Perfil</a></li>
              <li><a href="#">Ver Actividad</a></li>
              <li class="divider"></li>
              <li><a href="#">Salir</a></li>
            </ul>
          </li>
        </ul>
        <!-- <form class="navbar-form navbar-right" role="form">
          <div class="form-group">
            <input type="text" placeholder="Email" class="form-control">
          </div>
          <div class="form-group">
            <input type="password" placeholder="Password" class="form-control">
          </div>
          <button type="submit" class="btn btn-success">Entrar</button>
         --></form>
      </div><!--/.navbar-collapse -->
    </div>
  </div>
  <div class="container-fluid">
    <%= render partial: "common/flash_messages", flash: flash %>
    <%= yield %>
  </div>
</body>
</html>
